# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
EWARM/K_segment_driver.dep
EWARM/K_segment_driver.dep
EWARM/K_segment_driver/Exe/K_segment_driver.hex
EWARM/K_segment_driver/Exe/K_segment_driver.sim
EWARM/K_segment_driver/List/K_segment_driver.map
EWARM/K_segment_driver/Obj/K_segment_driver.pbd
EWARM/K_segment_driver/Obj/K_segment_driver.pbd.browse
EWARM/K_segment_driver/Obj/K_segment_driver.pbw
EWARM/K_segment_driver/Obj/main.pbi
EWARM/K_segment_driver/Obj/support.pbi
EWARM/K_segment_driver/Obj/user_main.pbi
EWARM/settings/K_segment_driver.crun
EWARM/settings/K_segment_driver.dbgdt
EWARM/settings/K_segment_driver.dnx
EWARM/settings/Project.wsdt
EWARM/K_segment_driver.dep
EWARM/K_segment_driver/Exe/K_segment_driver.hex
EWARM/K_segment_driver/List/K_segment_driver.map
EWARM/K_segment_driver/Obj/K_segment_driver.pbd
EWARM/K_segment_driver/Obj/K_segment_driver.pbd.browse
EWARM/K_segment_driver/Obj/K_segment_driver.pbw
EWARM/K_segment_driver/Obj/main.pbi
EWARM/K_segment_driver/Obj/support.pbi
EWARM/K_segment_driver/Obj/user_main.pbi
EWARM/settings/K_segment_driver.dnx
EWARM/settings/Project.wsdt
